body {
    color:rgb(0, 0, 0);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 100px 1fr 20px;
}

* {
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 500px 250px 500px;
    align-items: center;
    background: rgb(182, 182, 182);
}

nav {
    display: grid;
    grid-template-columns: 60px 60px 60px 110px 120px;
    justify-self: center;
    align-items: center;
    padding: 0 10px 0 20px;
    font-size: 10px;
}

.options {
    padding: 10px;
    align-content: center;
    margin: 0;
}

#logo {
    display: grid;
    justify-self: center;
}

.login {
    display: grid;
    grid-template-columns: 130px 90px 120px 40px;
    align-items: center;
    justify-self: center;
    padding: 0 10px 0 20px;
    font-size: 10px;
}

#help {
    padding-left: 30px;
}

#search {

}

#prompt {

}

#search-bar {

}

h3 {

}

#house-image {

}

footer {
    display: grid;
    align-items: center;
}